@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.leaderboard {
  width: 95%;
  margin-top: 10px;
}

.score {
  display: flex;
  flex-direction: column;
}

.score-list {
  padding: 10px;
}

.score-add {
  padding: 10px;
}

.list-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.refreshBtn {
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  height: max-content;
  background-color: #000;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.8s;
  transition-delay: 0.1s;
}

.refreshBtn:hover {
  background-color: #fff;
  color: #000;
}

.list-record {
  width: 100%;
  border: 2px solid #000;
  border-spacing: 0;
}

tr:nth-child(even) {
  background-color: #d3d3d3;
}

#addForm {
  display: flex;
  flex-direction: column;
}

#name {
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  outline: none;
  border: 1px solid #000;
}

#score {
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  outline: none;
  border: 1px solid #000;
}

#addButton {
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  width: max-content;
  align-self: end;
  background-color: #000;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.8s;
  transition-delay: 0.1s;
}

#addButton:hover {
  background-color: #fff;
  color: #000;
}

td {
  padding: 5px;
}

@media (min-width: 768px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .leaderboard {
    width: 90%;
    margin-top: 50px;
  }

  .score {
    display: grid;
    grid-template-columns: 45% 10% 45%;
  }

  .score-list {
    grid-column: 1;
    padding: 10px;
  }

  .gap {
    grid-column: 2;
  }

  .score-add {
    grid-column: 3;
    padding: 10px;
  }
}

@media (min-width: 1024px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .leaderboard {
    width: 80%;
    margin-top: 50px;
  }

  .score {
    display: grid;
    grid-template-columns: 45% 10% 45%;
  }

  .score-list {
    grid-column: 1;
    padding: 10px;
  }

  .gap {
    grid-column: 2;
  }

  .score-add {
    grid-column: 3;
    padding: 10px;
  }
}

@media (min-width: 1200px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .leaderboard {
    width: 80%;
    margin-top: 50px;
  }

  .score {
    display: grid;
    grid-template-columns: 45% 10% 45%;
  }

  .score-list {
    grid-column: 1;
    padding: 10px;
  }

  .gap {
    grid-column: 2;
  }

  .score-add {
    grid-column: 3;
    padding: 10px;
  }
}
